$background_main: #fdfbfc;
$background_color: rgba(255, 255, 255, .5);
$background_color_2: rgba(255, 255, 255, .7);
$background_color_3: rgba(255, 255, 255, .3);

$background_color_darker_1: rgba(0, 0, 0, .3);

$color_1: lightgray;
$color_2: #363636;